<div class="about_one">
  <center><h1>About Our Website</h1></center>
  <p>Conventionally, when a patient needs blood, he/she has to contact a blood bank or a compatible blood group of a donor in their circle, family, and friends. However, it is difficult to find suitable donor within a limited group of people in a given time.</p>
</div>